<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>StuEdit</display-name>

    <!-- ===================== Spring Root Context ===================== -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/egovframework/spring/context-datasource.xml
            classpath:/egovframework/spring/context-common.xml
            classpath:/egovframework/spring/context-sqlMap.xml
            classpath:/egovframework/spring/context-transaction.xml
            classpath:/egovframework/spring/context-security.xml
            classpath:/egovframework/spring/context-mail.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- ===================== UTF-8 인코딩 필터 ===================== -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ===================== XSS 방지 필터 (eGovFrame 4.x) ===================== -->
    <filter>
        <filter-name>HTMLTagFilter</filter-name>
        <filter-class>org.egovframe.rte.ptl.mvc.filter.HTMLTagFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HTMLTagFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <!-- ===================== Spring Security 필터 ===================== -->
    <!--
        DelegatingFilterProxy: Spring Security의 FilterChainProxy를
        Servlet 필터로 등록. 반드시 encodingFilter 뒤에 위치해야 함.
    -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ===================== DispatcherServlet ===================== -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <!-- *.do 패턴으로 모든 요청을 DispatcherServlet이 처리 -->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <!-- ===================== 기본 에러 페이지 ===================== -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/common/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/common/error500.jsp</location>
    </error-page>

    <!-- 세션 타임아웃: 30분 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- 루트 접속 시 index.jsp → /main.do 로 리다이렉트 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
